build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>stek</title>
    <link rel="stylesheet" href="css/plugins/bootstrap.css">
    <link rel="stylesheet" href="css/plugins/jquery.formstyler.css">
    <link rel="stylesheet" href="css/plugins/jquery.formstyler.theme.css">
    <link rel="stylesheet" href="css/plugins/slick.css">
    <link rel="stylesheet" href="css/plugins/slick-theme.css">
    <link rel="stylesheet" href="css/plugins/nanoscroller.css">
    <link rel="stylesheet" href="css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="css/plugins/dropzone.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="css/style.css?v=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <div class="header-fade"></div>
    <div class="wrapper">
      <div class="container py-50">
        <div class="row page-list mt-4">
          <div class="col-md-7 mx-auto">
            <h2 class="mb-4 pb-10 border-bottom">Список страниц</h2>
            <ul class="pl-0 mb-4">
              <li class="mb-2"><a href="main.html">Главная</a></li>
              <!--li.mb-2 -->
              <!--  a(href="service.html", style="") Услуги-->
              <li class="mb-2"> <a href="apps.html">Разработка приложений</a></li>
              <li class="mb-2"> <a href="projects.html">Проекты</a></li>
              <li class="mb-2"> <a href="pk.html">Политика конфиденциальности</a></li>
              <li class="mb-2"><a href="partnership.html">Партнерская программа</a></li>
              <li class="mb-2"><a href="clients.html">Клиенты</a></li>
              <li class="mb-2"> <a href="services_1c_consolidation.html">1С: Интеграция</a></li>
              <li class="mb-2"> <a href="services_1с_setting.html">1С: Настройка</a></li>
              <li class="mb-2"> <a href="services_1с_support.html">1С: Поддержка</a></li>
              <li class="mb-2"> <a href="services_1с_development.html">1С: Разработка</a></li>
              <li class="mb-2"><a href="services_1c_integration.html">1C: Внедрение</a></li>
              <li class="mb-2"><a href="services_it-audit.html">IT: Аудит</a></li>
              <li class="mb-2"><a href="services_it_complex.html">IT: Комплексное обслуживание</a></li>
              <li class="mb-2"> <a href="services_it_hosting_bitrix.html">IT: Bitrix</a></li>
              <li class="mb-2"> <a href="services_it_hosting_bitrix24.html">IT: Bitrix24</a></li>
              <li class="mb-2"><a href="services_it_postgre.html">IT: Настройка PostgreSQL </a></li>
              <li class="mb-2"><a href="services_it_corpmail.html">IT: Настройка корпоративной почты</a></li>
              <li class="mb-2"><a href="services_it_servers.html">IT: Обслуживание серверов</a></li>
              <li class="mb-2"> <a href="services_b24_audit.html">Bitrix24: Аудит</a></li>
              <li class="mb-2"> <a href="services_b24_integration.html">Bitrix24: Внедрение</a></li>
            </ul>
            <!--h2.mb-4.mt-4.pb-10.border-bottom Модальные окна-->
            <!--ul.pl-0.mb-4.mt-4-->
            <!--  li.mb-2a(href="#modal-product" data-toggle="modal") Продукт детальная
            -->
            <!--  li.mb-2-->
            <!--    a(href="#modal-pass" data-toggle="modal") Забыли пароль?-->
            <!--  li.mb-2-->
            <!--    a(href="#modal-call" data-toggle="modal") Заказать звонок-->
            <!---->
          </div>
        </div>
      </div>
    </div>
    <script src="js/plugins/jquery-3.4.1.min.js"></script>
    <script src="js/plugins/bootstrap.js"></script>
    <script src="js/plugins/jquery.formstyler.min.js"></script>
    <script src="js/plugins/jquery.maskedinput.js"></script>
    <script src="js/plugins/jquery.nanoscroller.min.js"></script>
    <script src="js/plugins/slick.js"></script>
    <script src="js/plugins/readmore.js"></script>
    <script src="js/plugins/jquery.magnific-popup.js"></script>
    <script src="js/plugins/flexmenu.js"></script>
    <script src="js/plugins/modernizr.custom.js"></script>
    <script src="http://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="js/plugins/dropzone.min.js"></script>
    <script src="js/plugins/dropzone-amd-module.min.js"></script>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=103ba73d-586f-49f7-9662-c26f48f3fcee" type="text/javascript"></script>
    <script src="js/map.js" type="text/javascript"></script>
    <script src="./js/index.js"></script>
  </body>
</html>

src/pages/index.pug
extends ../templates/template-index


block content
  .container.py-50
    .row.page-list.mt-4
      .col-md-7.mx-auto
        h2.mb-4.pb-10.border-bottom Список страниц
        ul.pl-0.mb-4
          li.mb-2
            a(href="main.html", style="") Главная
          //li.mb-2 
          //  a(href="service.html", style="") Услуги
          li.mb-2 
            a(href="apps.html", style="") Разработка приложений
          li.mb-2 
            a(href="projects.html", style="") Проекты
          li.mb-2 
            a(href="pk.html", style="") Политика конфиденциальности
          li.mb-2
            a(href="partnership.html", style="") Партнерская программа
          li.mb-2
            a(href="clients.html", style="") Клиенты
          li.mb-2 
            a(href="services_1c_consolidation.html", style="") 1С: Интеграция
          li.mb-2 
            a(href="services_1с_setting.html", style="") 1С: Настройка
          li.mb-2 
            a(href="services_1с_support.html", style="") 1С: Поддержка
          li.mb-2 
            a(href="services_1с_development.html", style="") 1С: Разработка
          li.mb-2
            a(href="services_1c_integration.html", style="") 1C: Внедрение
          li.mb-2
            a(href="services_it-audit.html", style="") IT: Аудит
          li.mb-2
            a(href="services_it_complex.html", style="") IT: Комплексное обслуживание
          li.mb-2 
            a(href="services_it_hosting_bitrix.html", style="") IT: Bitrix
          li.mb-2 
            a(href="services_it_hosting_bitrix24.html", style="") IT: Bitrix24
          li.mb-2
            a(href="services_it_postgre.html", style="") IT: Настройка PostgreSQL 
          li.mb-2
            a(href="services_it_corpmail.html", style="") IT: Настройка корпоративной почты
          li.mb-2
            a(href="services_it_servers.html", style="") IT: Обслуживание серверов
          li.mb-2 
            a(href="services_b24_audit.html", style="") Bitrix24: Аудит
          li.mb-2 
            a(href="services_b24_integration.html", style="") Bitrix24: Внедрение
        
  
        
        //h2.mb-4.mt-4.pb-10.border-bottom Модальные окна
        //ul.pl-0.mb-4.mt-4
        //  li.mb-2
            a(href="#modal-product" data-toggle="modal") Продукт детальная
        //  li.mb-2
        //    a(href="#modal-pass" data-toggle="modal") Забыли пароль?
        //  li.mb-2
        //    a(href="#modal-call" data-toggle="modal") Заказать звонок
        //
